/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body {
    font-size: 1.05em;
    line-height: 1.25em;
    font-family: Helvetica Neue, Helvetica, Arial;
    background: #f9f9f9;
    color: #555;
}

a {

    color: #4C9CF1;
    text-decoration: none;
    font-weight: bold;

}

a:hover {

    color: #444;

}

img {

    width: 100%;

}

header {

    background: #fff;
    width: 100%;
    height: 30%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid #4C9CF1;
    z-index: 100;

}

#logo{

    margin: 20px;
    float: left;
    width: 200px;
    height: 40px;
    background: url(../img/logo.png) no-repeat center;
    display: block;

}

nav {

    float: right;
    padding: 20px;

}

#menuBar {

    width: 40px;
    height: 40px;
    background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menuBar {

    background-color: #444;
    border-radius: 4px 4px 0 0;

}

ul {

    list-style: none;

}

li {

    display: inline-block;
    float: left;
    padding: 10px

}

.current {

    color: #2262AD;

}

section {

    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px

}

h1 {

    font-size: 2em;
    color: #2262AD;
    line-height: 1.15em;
    margin: 20px 0 ;

}

p {

    line-height: 1.45em;
    margin-bottom: 20px;

}


nav ul, nav:active ul {

    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;

}

nav li {

    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;

}

nav:hover ul {

    display: block;

}


