* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

h1,h2,h3, h4, h5, h6 {
    /*font-family: SignPainter;*/
    text-align: center;
}

@font-face {
    font-family: SignPainter;
}

/*topBar*/
#topBar {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.four {
    width: 30%;
    /*background-color: pink;*/
}

.five {
    width: 45%;
    /*background-color: navajowhite;*/
    text-align: center;
}

.two {
    width: 10%;
    /*background-color: purple;*/
    float: right;
    margin-right: 30px;
    margin-top: 32px;
}



#logo {
    margin-left: 7px;
    margin-top: 7px;
    width: auto;
    height: 70%;
}


#searchHere {
    width: 80%;
    margin-top: 35px;

}

#result {
    position: absolute;
    width: 80%;
    max-width: 80%;
    cursor: pointer;
    overflow-y: auto;
    max-height: 10%;
    box-sizing: border-box;
    z-index: 1001;
}


/*nav*/
nav {
    line-height: 75px;
}

nav a {
    color:black;
    text-decoration: none;
}

nav a:hover {
    color:black;
}

#menuBar {
    float: right;
    font-size: 4rem;
    color: black;
    margin-top: 15px;
}

#menu-toggle {
    display: block;
    float: right;
    color: black;
    text-decoration: none;
    padding: .75em;
    border: 1px grey solid;
    margin: 1em 1em 0 0;
}

ul {
    clear: left;
    list-style-type: none;
    color: black;
    padding-left: 0;
    margin-bottom: 0;
    /*display: none;*/
}

#toggled {
    display: none;
}

li {
    padding: 1em 0 1em 1.4em;
    border-top: 1px grey solid;
    color:black;
}


/*container*/
#container {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 75px;
    width: 90%;
    position: relative;

}

/*home*/



/*shop*/
#sideNav {
    width: 100%;
    height: 10%;
}

#subCat a {
    text-decoration: none;
    color: black;
}

.spacer {
    clear: both;
}

#shopItems {
    width: 100%;
    margin: 0 auto;
}

.app section .item {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: normal;
    margin: 25px;
}


section {
    height: 50%;
}

.item {
    width: 20%;
    margin: 5px;
}

#label {
    font-size: 20px;
}


section .itemRow {
    /*overflow-x: auto;*/
    /*white-space: nowrap;*/
    margin: 0 auto;
}

section img {
    width: auto;
    height: 100px;
}

.itemName {
    font-family: Arial;
    text-align: left;
}

.itemRow {
    width: 100%;
}

#addCart {
    width: 50%;
}

/*details section*/
.quick-view-details {

}

.quick-view-panel {

}

.quick-view-desc {

}

.quick-view-image {

}

.details {

}

.quick-view-details h4 {

}

.quick-view-details img {

}

.quick-view-details p {

}


/*shopping cart*/
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.btn {
    text-decoration: none;
    color: black;
}

/*checkout*/
#credit-card {
    width: 80%;
    margin: 0 auto;
}

#credit-card ul li {
    display: block;
    float: left;
    color: black;
    text-decoration: none;
    padding: .75em;
    margin: 0;
    border-top: none;
}

#credit-card .fa {
    font-size: 24px;
}

#checkoutInfo {
    width: 50%;
    margin: 0 auto;
}

/*footer*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
    
}

#copy {
    margin: 0 auto;
    width: 100%;
}

/*media queries*/
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead {
        display: none;
    }
    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width:320px;
    }
    table#cart tbody tr td:first-child {
        background: floralwhite;
        color: black;
    }
    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block; width: 8rem;
    }
    table#cart tfoot td{
        display:block;
    }
    table#cart tfoot td .btn{
        display:block;
    }


}
@media screen and (min-width: 950px) {
    #menu-toggle {
        display: none;
    }
    nav {
        float: right;
    }
    ul {
        display: block !important;
    }
    li {
        float: left;
        padding: 1em;
        border-top: none;
    }

}

@media screen and (max-width: 1200px) {
    #left {
        float: none;
        width: 80%;
        height: 50%;
        margin: 0 auto;
    }

    #right {
        float: none;
        width: 80%;
        height: 50%;
        margin: 0 auto;
    }
}